* {
  box-sizing: border-box;
}

section {
  border: 1px solid black;
  border-radius: 15px 15px 0 0;
  margin-bottom: 30px;
  height: 400px;
  overflow: hidden;
  color: white;
}
section .circle {
  width: 1em;
  height: 1em;
  margin-left: 5px;
  border-radius: 50%;
  border: 1px solid black;
}
section .circle-red {
  background-color: #e74c3c;
}
section .circle-yellow {
  background-color: #f1c40f;
}
section .circle-green {
  background-color: #2ecc71;
}
section .header-bar {
  display: flex;
  align-items: center;
  background-color: #828686;
  height: 40px;
}

.box {
  width: 100px;
  height: 100px;
  background-color: black;
  color: white;
}

.box-grey {
  width: 100px;
  height: 100px;
  background-color: grey;
  color: white;
}

.box-5 {
  width: 100px;
  height: 100px;
  background-color: black;
  color: white;
  margin-right: 5px;
}

.box-double {
  width: 200px;
  height: 200px;
  background-color: grey;
  color: white;
  margin-top: 10px;
}

.box-long {
  width: 350px;
  height: 150px;
  background-color: grey;
  color: white;
  margin-top: 10px;
}

.box-10 {
  width: 100px;
  height: 100px;
  background-color: black;
  color: white;
  margin-top: 10px;
}

#challenge1 .container {
  display: flex;
  justify-content: space-between;
}

#challenge1 .right-side {
  display: flex;
}

#challenge2 .container {
  display: flex;
  flex-direction: column;
}

.mid {
  align-self: center;
}

#challenge2 .right-side {
  align-self: flex-end;
}

#challenge3 .container {
  display: flex;
  justify-content: center;
}

#challenge3 .box-double {
  position: relative;
}

#challenge3 .box {
  position: absolute;
  top: 50px;
  left: 50px;
}

#challenge4 .box {
  position: absolute;
}

#challenge4 .box-grey {
  position: absolute;
  margin-top: 50px;
  margin-left: 50px;
}

#challenge5 .container {
  display: flex;
  flex-direction: column-reverse;
}

.mid {
  align-self: center;
}

#challenge5 .left-side {
  align-self: flex-end;
}

#challenge6 .container {
  position: relative;
  height: calc(100% - 40px);
}

#challenge6 .box1 {
  width: 350px;
  height: 150px;
  background-color: grey;
  color: white;
  position: absolute;
  bottom: 0;
  right: 0;
}

#challenge6 .box2 {
  position: absolute;
  right: 0;
  top: 0;
  background-color: black;
  height: 100px;
  width: 100px;
}

#challenge6 .box3 {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: black;
  height: 100px;
  width: 100px;
}

#challenge7 .container {
  position: relative;
  height: calc(100% - 40px);
}

#challenge7 .box1 {
  width: 200px;
  height: 200px;
  background-color: grey;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
}

#challenge7 .box2 {
  width: 100px;
  height: 100px;
  background-color: black;
  color: white;
  position: absolute;
  bottom: 0;
  right: 0;
}

#challenge8 .container {
  position: relative;
  height: calc(100% - 40px);
}

#challenge8 .box1 {
  width: 200px;
  height: 200px;
  background-color: grey;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
}

#challenge8 .box2 {
  width: 100px;
  height: 100px;
  background-color: black;
  color: white;
  position: absolute;
  top: 0;
  right: 0;
}

#challenge9 .container {
  position: relative;
  height: calc(100% - 40px);
}

#challenge9 .box1 {
  width: 300px;
  height: 300px;
  background-color: grey;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
}

#challenge9 .box2 {
  width: 100px;
  height: 100px;
  background-color: black;
  color: white;
  position: absolute;
  top: 0;
  margin-left: 100px;
}

#challenge9 .box3 {
  width: 100px;
  height: 100px;
  background-color: black;
  color: white;
  position: absolute;
  bottom: 0;
  margin-left: 100px;
}

#challenge10 .container {
  margin: 40px 80px;
}

#challenge10 .box1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 150px;
  background-color: grey;
  position: relative;
}

#challenge10 .box1 span {
  position: absolute;
  top: 0;
  left: 0;
}

#challenge10 .box2 {
  width: 100px;
  height: 100px;
  background-color: black;
  color: white;
}

#challenge10 .box3 {
  width: 100px;
  height: 100px;
  background-color: black;
  color: white;
}

#challenge11 .container {
  position: absolute;
  height: calc(100% - 40px);
}

#challenge11 .box1 {
  width: 180px;
  height: 300px;
  background-color: grey;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
}

#challenge11 .box2 {
  width: 160px;
  height: 200px;
  background-color: black;
  color: white;
  position: absolute;
  bottom: 0;
  right: 0;
}

#challenge11 .box3 {
  width: 100px;
  height: 100px;
  background-color: silver;
  color: white;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

#challenge12 .container {
  position: relative;
  height: calc(100% - 40px);
}

#challenge12 .box1 {
  width: 180px;
  height: 300px;
  background-color: grey;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
}

#challenge12 .box2 {
  width: 160px;
  height: 200px;
  background-color: black;
  color: white;
  position: absolute;
  bottom: 0;
  left: 90px;
}

#challenge12 .box3 {
  width: 100px;
  height: 100px;
  background-color: silver;
  color: white;
  position: absolute;
  margin-top: 220px;
  right: 0;
}

#challenge13 .container {
  position: relative;
  height: calc(100% - 40px);
}

#challenge13 .box1 {
  width: 100px;
  height: 100px;
  background-color: black;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
}

#challenge13 .box2 {
  width: 100px;
  height: 100px;
  background-color: grey;
  color: white;
  position: absolute;
  margin-left: 50px;
  margin-top: 50px;
}

#challenge13 .box3 {
  width: 100px;
  height: 100px;
  background-color: black;
  color: white;
  position: absolute;
  margin-top: 100px;
  margin-left: 100px;
}

#challenge13 .box4 {
  width: 100px;
  height: 100px;
  background-color: grey;
  color: white;
  position: absolute;
  margin-top: 150px;
  margin-left: 150px;
}

#challenge13 .box5 {
  width: 100px;
  height: 100px;
  background-color: black;
  color: white;
  position: absolute;
  margin-top: 200px;
  margin-left: 200px;
}

#challenge14 .container {
  position: relative;
  height: calc(100% - 40px);
}

#challenge14 .box1 {
  width: 200px;
  height: 200px;
  background-color: grey;
  color: white;
  position: absolute;
  top: 0;
  right: 0;
}

#challenge14 .box2 {
  width: 100px;
  height: 100px;
  background-color: black;
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
}

#challenge15 .container {
  position: relative;
  height: calc(100% - 40px);
}

#challenge15 .box1 {
  width: 200px;
  height: 200px;
  background-color: grey;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
}

#challenge15 .box3 {
  width: 100px;
  height: 100px;
  background-color: black;
  color: white;
  position: absolute;
  margin-top: 200px;
  left: 0;
}

#challenge15 .box4 {
  width: 200px;
  height: 200px;
  background-color: grey;
  color: white;
  position: absolute;
  margin-left: 250px;
  margin-top: 120px;
}

#challenge15 .box2 {
  width: 100px;
  height: 100px;
  background-color: black;
  color: white;
  position: absolute;
  bottom: 220px;
  right: 0;
}
